<ng-container *ngIf="beer$ | async as beer">
  <h1 class="beer-title">{{ beer.name }}</h1>
  <div class="beer-info">
    <div class="beer-info__image">
      <img [src]="beer.imageUrl" alt="Beer image">
    </div>
    <div class="beer-info__descriptors">
      <fresco-beer-descriptor *ngIf="beer.abv !== undefined && beer.abv !== null"
        class="beer-info__descriptor"
        [name]="'ABV'"
        [value]="beer.abv"
        [style]="'big'">
      </fresco-beer-descriptor>
      <fresco-beer-descriptor *ngIf="beer.ibu !== undefined && beer.ibu !== null"
        class="beer-info__descriptor"
        [name]="'IBU'"
        [value]="beer.ibu"
        [style]="'big'">
      </fresco-beer-descriptor>
      <fresco-beer-descriptor *ngIf="beer.ebc !== undefined && beer.ebc !== null"
        class="beer-info__descriptor"
        [name]="'EBC'"
        [value]="beer.ebc"
        [style]="'big'">
      </fresco-beer-descriptor>
      <fresco-beer-descriptor *ngIf="beer.srm !== undefined && beer.srm !== null"
        class="beer-info__descriptor"
        [name]="'SRM'"
        [value]="beer.srm"
        [style]="'big'">
      </fresco-beer-descriptor>
    </div>
  </div>
  <p class="beer-description">{{ beer.description }}</p>
  <fresco-beer-ingredients-list
    class="beer-ingredients-list"
    [ingredientTypeName]="'Hops'"
    [ingredients]="beer.ingredients.hops">
  </fresco-beer-ingredients-list>
  <fresco-beer-ingredients-list
    class="beer-ingredients-list"
    [ingredientTypeName]="'Malts'"
    [ingredients]="beer.ingredients.malt">
  </fresco-beer-ingredients-list>
</ng-container>