// COLORS
$default-background-color: #ECEFF2;

$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.6);
$disabled-text-color: rgba(0, 0, 0, 0.38);

// FONTS
$font-family-body: 'Roboto', sans-serif;
$font-family-title: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-tiny: .75rem;
$font-size-small: .875rem;
$font-size-regular: 1rem;
$font-size-medium: 1.3rem;
$font-size-big: 1.5rem;
$font-size-huge: 1.8rem;

// MARGINS
$margin-tiny: 8px;
$margin-small: 12px;
$margin-medium: 16px;
$margin-big: 24px;
$margin-huge: 30px;

// BUTTONS
$button-background-color: #7496b3;