@import '_variables.scss';

:host {
  display: block;
}

.mashing-info {
  font-weight: $font-weight-light;

  &:not(:first-of-type) {
    margin-top: $margin-small;
  }

  &--important {
    font-weight: $font-weight-medium;
  }
}