<h1 id="scale-title">Scale</h1>
<div class="scale">
  <p id="scale-target-text" class="scale__target-text">You need</p>
  <p id="scale-target-weight" class="scale__target-weight">{{ settings.targetWeight | number:weightFormat }} grams</p>
  <div class="scale__image">
    <div class="scale__image-frame">
      <span id="scale-current-weight" class="scale__image-current-weight">{{ weight$ | async | number:weightFormat }}</span>
    </div>
    <img [@scaleAnimation]="{ value: rotation, params: { rotation }}" class="scale__image-weight" src="assets/images/scale-weight.svg" alt="Scale">
  </div>
  <p id="scale-product-name" class="scale__product-name">of {{ settings.productName }}</p>
  <button id="scale-mark-as-done" class="scale__mark-as-done" (click)="markAsDone()">
    <img src="assets/icons/mark-as-done.svg" alt="Mark as Done">
  </button>
</div>
