@import '_reset.scss';
@import '_variables.scss';
@import '_fonts.scss';

body {
  background-color: $default-background-color;
  color: $primary-text-color;
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-big;
  line-height: 2rem;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-huge;
}

h2 {
  font-size: $font-size-medium;
  line-height: 2rem;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-medium;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

p {
  font-size: $font-size-regular;
  line-height: 1.3rem;
}

button {
  padding: $margin-small;
  background-color: $button-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}