@import '_reset.scss';
@import '_variables.scss';
@import '_fonts.scss';

body {
  background-color: $default-background-color;
  color: $primary-text-color;
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-big;
  line-height: 2rem;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: $font-size-medium;
  line-height: 2rem;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

p {
  font-size: $font-size-regular;
  line-height: 1.3rem;
}